<?xml version="1.0" encoding="UTF-8"?>
    <web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Application WEB affichant HelloWorld</display-name>

    <servlet>
        <servlet-name>OrdinateurServlet</servlet-name>
        <servlet-class>servlet.OrdinateurServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ShowFormOrdiServlet</servlet-name>
        <servlet-class>servlet.ShowFormOrdiServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EtatServlet</servlet-name>
        <servlet-class>servlet.EtatServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StatServlet</servlet-name>
        <servlet-class>servlet.StatServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OrdinateurServlet</servlet-name>
        <url-pattern>/ordi/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowFormOrdiServlet</servlet-name>
        <url-pattern>/showFormOrdi</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EtatServlet</servlet-name>
        <url-pattern>/etat/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StatServlet</servlet-name>
        <url-pattern>/stat/*</url-pattern>
    </servlet-mapping>

</web-app>
